<ul>
    <a href="/widgets"><li<%if(__page.template.indexOf('widget')!==-1){%> class="active"<%}%>>Widgets</li></a>
    <a href="/revenue"><li<%if(__page.template.indexOf('revenue')!==-1){%> class="active"<%}%>>Revenue</li></a>
</ul>