div#header div#nav ul {
    list-style: none;
    padding: 0 8px;
}

div#header div#nav ul li {
    background-color: #dddddd;
    border-top: 3px solid #55bb00;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000000;
    display: inline-block;
    padding: 8px 8px 4px;
}

div#header div#nav ul li:hover {
    background-color: #e0e0e0;
}

div#header div#nav ul li.active {
    background-color: #ffffff;
    border-top: 3px solid #66cc00;
}

div#header div#nav ul li:hover {
    border-top: 3px solid #77dd00;
}

div#footer {
    font-size: small;
    padding: 10px 0;
    text-align: center;
}