div#revenue div#typeChooser div,
div#revenue div#revenueByCategory div#styleChooser div {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px 7px;
}

div#revenue div#typeChooser div:hover,
div#revenue div#revenueByCategory div#styleChooser div:hover {
    background-color: #ddeeff;
}

div#revenue div#typeChooser div.active,
div#revenue div#revenueByCategory div#styleChooser div.active {
    background-color: #0094ff;
    color: #ffffff;
    cursor: default;
}

div#revenue div#revenueByYearLineChart {
    height: 400px;
    width: 100%;
}

div#revenue div#revenueByCategory {
    display: none;
}

div#revenue div#revenueByCategoryColumnChart {
    height: 400px;
    width: 100%;
}

div#revenue div#revenueByCategoryPieChart {
    display: none;
    height: 400px;
    width: 100%;
}